@import "../../utils/colors.module";

.checkboxContainer {
  align-items: center;
  background-color: $navigation;
  border-radius: 20px;
  color: $text-dark;
  display: flex;
  font-weight: bold;
  height: 40px;
  justify-content: center;
  width: 100%;

  &:not(.isActive) {
    cursor: pointer;
  }

  @media (min-width: 500px) {
    width: 150px;
  }
}

.isActive {
  background-color: $navigation-active;
  color: $text-light;
  cursor: not-allowed;
}

.checkbox {
  cursor: inherit;
}

.label {
  cursor: inherit;
  margin-left: 5px;
}