.mainPage {
  align-items: center;
  background-color: cornsilk;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  min-height: 100vh;
  padding: 1rem;
}

.navigationList {
  display: flex;
  flex-wrap: wrap;
  width: 100%;

  li {
    width: 100%;
  }
}