@import "src/utils/colors.module";

.repositoriesListContainer {
  border: 1px solid $table-background-dark;
}

.header {
  background-color: $table-background-dark;
  display: flex;
  font-weight: bold;
  padding: 1rem .5rem;
}
.name,
.language {
  width: 40%;
}

.stars {
  text-align: end;
  width: 20%;

  &:hover {
    color: $table-background-hover;
    cursor: pointer;
  }
}

.sortIcon {
  margin-left: .5rem;
}

.list {
  margin: 0;
  padding-left: 0;
}